.Rhistory
*.xlsx
*.log
*.docx
*.ipynb_checkpoints/
*.nextflow.log.*
work/
.nextflow/
*.csv
*.pptx
*.csv:Zone.Identifier
*.svg
*.sif
data/
# all folders related to the hpc
ppi-hpc/
.DS_Store
# for pychache folders
__pycache__/
*.py[cod]
*$py.class
*dist/
*build/
*synapse_counting.egg-info
hackathon-2025-owkin/

# for proteomics
msdap_results
batch_results

# for clustermap 
ClusterMap/
gdf_path_save/
