.Rhistory
*.xlsx
*.log
*.docx
*.ipynb_checkpoints/
*.nextflow.log.*
work/
.nextflow/
*.csv
*.pptx
*.csv:Zone.Identifier
*.svg
*.png
*.sif
*.pdf
data/
# all folders related to the hpc
ppi-hpc/
.DS_Store

# for pychache folders
__pycache__/
*.py[cod]
*$py.class
*dist/
*build/
*synapse_counting.egg-info
hackathon-2025-owkin/

# for proteomics
msdap_results
batch_results*
uniprot_results*

# for clustermap 
ClusterMap/
gdf_path_save/

*.vscode
*.devcontainer
*Rplots.pdf

image-analysis/synapse-counting/notebooks/scratch_notebooks

# securities
credentials.md 
*/notes.md
docs/

# Do include:
!/image-analysis/in-vitro-synapse-counting/data/exp10_11_12_13_data.xlsx
!/image-analysis/in-vitro-synapse-counting/data/exp17_20_23_24_data.xlsx
!/image-analysis/synapse-counting/notebooks/.devcontainer
!/image-analysis/synapse-counting/notebooks/.vscode
!/image-analysis/synapse-counting/pipeline/image-readme.png
!/image-analysis/synapse-counting/fig_exp.png
!/candidate-profiling/fluor-intensity-data/**
!/candidate-profiling/wb-dev-data/**

