// nextflow.config

//running environments
profiles {
    
    conda {
        conda.enabled = true
        process.conda = "/Users/cydricgeyskens/miniconda3/envs/synapse-counting-v2"
    }
    
    docker {
        docker.enabled = true
        process.container = "cgeyskens/synapse-counting:v8"
        docker.runOptions = "-u \$(id -u):\$(id -g)"
        //containerOptions ='--entrypoint=""'
    }
    
    hpc {
        apptainer.enabled = true
        process.container = "docker://cgeyskens/synapse-counting:v8"
        apptainer.autoMounts = true
    }
}

// parameters
params {
    // protein of interest
    protein_and_synaptic_marker = "VCAM1_GFP_VGLUT1_PSD95"

    // input directory
    input_dir = "/Volumes/Intenso/image-analysis/synapse-counting-oe/test-202604/"

    // output directory
    output_dir = "/Volumes/Intenso/image-analysis/synapse-counting-oe/test-202604-output/"

    // preprocessing parameters json file
    preprocessing_params = "/Users/cydricgeyskens/Documents/code/phd/image-analysis/synapse-counting/pipeline/preprocess_params_202604_oe.json"
                            
    // local peak optimization parameters json file
    optimization_params = "/Users/cydricgeyskens/Documents/code/phd/image-analysis/synapse-counting/pipeline/optimization_param_ranges_local_peaks_202604_oe.json"
                            
    /* 
    important segments of the filename, that is needed for the analysis, separated by "_".
    example:    CRISPR-Exp4_IHC-Exp2_Brain-4_section-1_488-VGLUT1_647-PSD95_LacZ-gRNA_63X&3XzoomAiryscan_CA1_SLM.czi
    we take from this 
    [0] = CRISPR-Exp4, 
    [1] = IHC-Exp2, 
    [2] = Brain-4, 
    [3] = section-1, 
    [6] = LacZ-gRNA, 
    [8] = CA1, 
    [9] = SLM
    you get: CRISPR-Exp4_IHC-Exp2_Brain-4_section-1_CA1_SLM
    in the pipeline we will use certain segments of this filename name, that are hard coded which are the following:
    gRNA column: [6]
    hippocampal layer column: [8] and [9] (last two)
    Brain: [0]
    */
    name_segments = "0 1 2 3 6 8 9"

    // image channels corresponding to presynapse and postsynapse image channel
    presynapse_channel = "0"
    postsynapse_channel = "1"

    // number of trials calculating the optimized scaled difference between actual and rotated pre/pos synaptic channels
    // for local peak detection
    nr_of_optimization_trials = "1"

}

