// nextflow.config

// conda environment
conda.enabled = true
process.conda = "/Users/cgeyskens/miniconda3/envs/image-analysis"

// parameters
params {
    // input directory
    input_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/VCAM1/VCAM1-LacZ_VGLUT1-PSD95_images"
    
    // intermediate directory
    intermediate_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/VCAM1/VCAM1-LacZ_VGLUT1-PSD95_intermediate_data"
    
    // output directory
    output_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/VCAM1/VCAM1-LacZ_VGLUT1-PSD95_output_data"
    
    // important segments of the filename, that is needed for the analysis, seperated by "_".
    name_segments = "0 1 2 3 6 8 9"
}
