// nextflow.config

// conda environment
conda.enabled = true
process.conda = "/Users/cgeyskens/miniconda3/envs/image-analysis"

// parameters
params {
    // protein of interest
    protein_and_synaptic_marker = "GPR37L1_LacZ_VGLUT1_PSD95"

    // input directory
    input_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/GPR37L1/GPR37L1-LacZ_VGLUT1-PSD95_images"
    
    // intermediate directory
    intermediate_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/GPR37L1/GPR37L1-LacZ_VGLUT1-PSD95_intermediate_data"
    
    // output directory
    output_dir = "/Volumes/KINGSTON/data/phd/image-analysis/synapse-counting/GPR37L1/GPR37L1-LacZ_VGLUT1-PSD95_output_data"
    
    // important segments of the filename, that is needed for the analysis, separated by "_".
    // example: CRISPR-Exp4_IHC-Exp2_Brain-4_section-1_488-VGLUT1_647-PSD95_LacZ-gRNA_63X&3XzoomAiryscan_CA1_SLM.czi
    // we take from this 
    // [0] = CRISPR-Exp4, 
    // [1] = IHC-Exp2, 
    // [2] = Brain-4, 
    // [3] = section-1, 
    // [6] = LacZ-gRNA, 
    // [8] = CA1, 
    // [9] = SLM
    // you get: CRISPR-Exp4_IHC-Exp2_Brain-4_section-1_CA1_SLM
    // in the pipeline we will use certain segments of this filename name, that are hard coded which are the following:
    // results.py : 
    // gRNA column: [6]
    // hippocampal layer column: [8] and [9] (last two)
    // Brain: [0]
    name_segments = "0 1 2 3 6 8 9"

    // image channels corresponding to presynapse and postsynapse image channel
    // example: if you have only two channels and 488-VGLUT1, PSD95-647: presynapse in channel 0 and postsynapse in channel 1 
    presynapse_channel = "0"
    postsynapse_channel = "1"
}
